<%- include('partials/header') %>
<h1>Home</h1>

<p><%=text%></p>

<% posts.forEach(item => { %>
    <a href="posts/<%=item.title%>"><h3><%=item.title%></h3></a>
   <% if(item.info.length > 30){ %>
        <p><%=item.info.substring(0, 30) + '...'%> <a href="posts/<%=item.title%>">read more</a></p>
   <% } else { %>
        <p><%=item.info%> </p>
   <% } %>
   
    <%})%>
<%- include('partials/footer') %>